/** Add css rules here for your application. */

.gwt-TabLayoutPanelContent {
  border: none;
  overflow: hidden;
  width: 100%;
  padding: 30px;

}
.gwt-TabLayoutPanelTab {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font: normal 30px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(255,255,255);
}
.gwt-TabLayoutPanelTab-selected {
  cursor: default;
  border-right-color: rgba(255,97,0,1);
  color: rgba(255,97,0,1);
  border-bottom: 5px solid rgba(255,97,0,1);
}

.centered{
  margin-left: auto;
  margin-right: auto;
}

.menu{
  color: #ffffff;
  font-weight: bold;
}

.content{
  background: #ffffff;
  color: #1c1c1c;
}

.background{
  background: #373737;
  color: white;
}