/** Add css rules here for your application. */
.gwt-TabLayoutPanelContent {
	border: none;
	overflow: hidden;
	width: 100%;
	padding: 30px;
}

.gwt-DinamicInfoLabel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal 40px/1 Verdana, Geneva, sans-serif;
	color: #cecece;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.gwt-DinamicInfoYearLabel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal 60px/1 Verdana, Geneva, sans-serif;
	color: #cecece;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.gwt-fixInfoLabel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal 20px/1 Verdana, Geneva, sans-serif;
	color: #cecece;
	margin-top: 20px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;

}

.gwt-TabLayoutPanelTab {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 10px 20px;
	border: none;
	font: normal 35px/normal Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgb(255, 255, 255);
}

.gwt-TabLayoutPanelTab-selected {
	cursor: default;
	border-right-color: rgba(255, 97, 0, 1);
	color: rgba(255, 97, 0, 1);
	border-bottom: 5px solid rgba(255, 97, 0, 1);
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.menu {
	color: #ffffff;
	font-weight: bold;
}

.content {
	background: #ffffff;
	color: #1c1c1c;
}

.background {
	background: #373737;
	color: white;
}

.gwt-SelectionPanel {
	border-Top: 5px solid rgba(255, 97, 0, 1);
}

.gwt-FilterLabel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 160px;
	padding: 7px;
	border: none;
	margin: 10px 10px 1px;
	font: normal 15px/normal Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: left;
	text-align: bottom;
	outline: none
}

.gwt-SliderLabel {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 160px;
	padding: 7px;
	border: none;
	margin: 1px;
	font: normal 15px/normal Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: left;
	text-align: bottom;
}

.gwt-Anchor{
	margin-left: 10px;
	margin-top: 30px;
	color: black;
}
.gwt-Anchor:hover{
	color: rgba(255, 97, 0, 1);
}

.Slider{
	margin-left: 15px;
}


.gwt-FilterLabelInfo {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 320px;
	padding: 7px;
	border: none;
	font: normal 15px/normal Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: left;
	text-align: bottom;
	outline: none
}

.gwt-FilterTextInput {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 7px 7px;
	border: 1px solid rgba(255, 97, 0, 1);
	border-radius: 45px;
	margin: 1px 10px 10px;
	font: normal 15px/1 Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: rgba(252, 252, 252, 1);
	outline: none
}

input {
	outline: none;
}

Button {
	outline: none;
}

.gwt-SelectionButton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid rgba(255,97,0,1);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font: normal 15px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(255,255,255);
}

.gwt-SelectionButton:hover {
  -webkit-border-radius: 52px;
  border-radius: 52px;
  color: rgba(255, 97, 0, 1);
}

.gwt-SelectionButton:active {
  -webkit-border-radius: 28px;
  border-radius: 28px;
  color: rgba(255,255,255,1);
  background: rgba(255, 97, 0, 1);
}


.gwt-CheckBoxLabel{
	border: none;
	font: normal 15px/normal Verdana, Geneva, sans-serif;
	color: rgba(0, 0, 0, 1);
	text-align: center;
	margin-left: 35px;
	margin-right: 5px;
}
